# OS & Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Large Raw Camera Video Files
*.mov
*.MOV

# Python & Temporary Files
__pycache__/
*.pyc
*.pyo
*.tmp
*.log

# Node & Dependencies
node_modules/
npm-debug.log*
